{% extends 'base.html' %}

{% block content %}
<h2 class="bg-light text-success text-center text-uppercase p-3">{{ autor.jmeno }} <b>{{ autor.prijmeni }}</b></h2>
  <div class="row bg-light p-3 mb-2">
    <div class="col-md-4 text-dark">
      {% if autor.fotografie %}
      <img src="{{ autor.fotografie.url }}" alt="{{ autor }}" class="rounded img-fluid">
      {% endif %}
      <p class="mt-3">Datum narození: {{ autor.narozeni }}
      {% if autor.umrti %}
      <br>Datum úmrtí: {{ autor.umrti }}
      {% endif %}
      </p>
      <hr>
      <h4 class="text-success">Knihy</h4>
      <hr>
      <ul>
      {% for kniha in autor.kniha_set.all %}
        <li><a href="{% url 'kniha_detail' kniha.pk %}">{{ kniha }}</a></li>
      {% endfor %}
      </ul>
    </div>
    <div class="col-md-8">
      <h4 class="text-success">Životopis</h4>
      <p class="text-dark">{{ autor.biografie }}</p>
    </div>
  </div>
{% endblock %}