{% extends 'base.html' %}

{% block content %}
  <h2 class="bg-light text-success text-center text-uppercase p-3">{{nadpis}}</h2>
  <div class="row bg-light mb-3">
  {% for autor in autori %}
    <div class="col-md-3 col-lg-2 pt-3 pb-3 d-flex flex-column">
      {% if autor.fotografie %}
      <img src="{{ autor.fotografie.url }}" alt="{{ autor }}" class="rounded img-fluid">
      {% endif %}
      <p class="text-center text-light mt-auto p-1"><a href="{% url 'autor_detail' autor.pk %}" class="text-dark"><b>{{ autor.jmeno }} {{ autor.prijmeni }}</b></a> <span class="badge bg-success text-white">{{ autor.kniha_set.count }}</span></p>
    </div>
  {% endfor %}
  </div>
{% endblock %}