{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 mt-3 mb-3">
            <h2 class="bg-info text-light text-center text-uppercase p-3">{{ nadpis }}</h2>
            {% for kniha in knihy %}
            <div class="row mb-3">
                <div class="col-lg-3">
                    <img src="{{ kniha.obalka.url }}" alt="{{ kniha.titul }}" class="img-fluid">
                </div>
                <div class="col-lg-9">
                    <p>{% for autor in kniha.autori.all %}<span class="badge badge-light">{{ autor.jmeno }} {{ autor.prijmeni }}</span>{% endfor %}</p>
                    <h3><a href="#">{{ kniha.titul }}</a></h3>
                    <p>{{ kniha.obsah|truncatewords:30 }}</p>
                    <p class="alert alert-secondary">Vydáno: {{ kniha.vydavatelstvi.nazev }}, {{ kniha.rok_vydani }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-lg-4 bg-light mt-3 mb-3">
            <h2 class="bg-secondary text-light text-center p-3">Přehled žánrů</h2>
            <ul class="list-group">
            {% for zanr in zanry %}
                {% if zanr.nazev == nadpis %}
                <li class="list-group-item active">{{ zanr.nazev }} <span class="badge badge-info">{{ zanr.kniha_set.count }}</span></li>
                {% else %}
                <li class="list-group-item"><a href="#">{{ zanr.nazev }}</a> <span class="badge badge-info">{{ zanr.kniha_set.count }}</span></li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}