{% extends 'base.html' %}

{% block content %}
        <div class="col-lg-12 mt-4 mb-4">
            <h2 class="bg-light text-success text-center text-uppercase p-3">{{ nadpis }}</h2>
            {% for kniha in knihy %}
            <div class="row mb-3">
                <div class="col-lg-3">
                    <img src="{{ kniha.obalka.url }}" alt="{{ kniha.titul }}" class="img-fluid">
                </div>
                <div class="col-lg-9">
                    <p>{% for autor in kniha.autori.all %}<a href="{% url 'autor_detail' autor.pk %}">{{ autor.jmeno }} {{ autor.prijmeni }}</a>{% endfor %}</p>
                    <h3><a href="{% url 'kniha_detail' kniha.pk %}">{{ kniha.titul }}</a></h3>
                    <p>{{ kniha.obsah|truncatewords:30 }}</p>
                    <p class="alert alert-secondary">Vydáno: {{ kniha.vydavatelstvi.nazev }}, {{ kniha.rok_vydani }}<br> <b>Cena: {{ kniha.cena }} Kč</b></p>
                </div>
            </div>
            {% endfor %}
        </div>
        
{% endblock %}