{% load static %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-center">
    <a class="navbar-brand text-light" href="#"><img src="" alt="Knih-eshop"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavId">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Úvodní stránka <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'knihy' %}">Knihy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'autori' %}">Autoři</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'zanry' %}">Žánry</a>
            </li>
        </ul>
    </div>
</nav>